/* CSS variables from Duotrigordle */
:root {
  --black: hsl(240, 10%, 0%);
  --white: #fff;
  --gray-2: hsl(240, 10%, 20%);
  --gray-4: hsl(240, 10%, 40%);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1em 3em;
  max-width: 60em;

  background: #000;
  color: #fff;
  font-family: Rubik, sans-serif;
}

h1 {
  font-weight: 400;
}

a, a:visited, a:hover, a:active {
  color: var(--white);
}

label {
  font-weight: 400;
  font-size: 1.2em;
}

textarea {
  background: var(--gray-2);
  color: var(--white);
  padding: 1em;
  min-width: 20em;
  font-family: monospace, monospace;
  font-size: 0.9em;
}

/* Horizontal layout, by default */
main {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-areas:
    "a g c"
    "b g d"
    "b g e";
  grid-template-columns: 46% 6% 46%;
  grid-template-rows: 1.5em auto 3em;
  gap: 0.5em;
}

footer {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1em;
  padding: 1em 0;
  white-space: nowrap;
  flex-wrap: wrap;
}

footer > :first-child {
  flex-grow: 1;
}

/* Vertical layout for narrow screens */
@media (max-width: 50em) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "g"
      "c"
      "d"
      "e";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5em 1fr 0.5em 1.5em 1fr 3em;
  }
}

main > label[for="official-result"] {
  grid-area: a;
}
main > #official-result {
  grid-area: b;
}

main > label {
  grid-area: c;
}
main > #visualization {
  grid-area: d;
  cursor: pointer;
}

main > #copy-button {
  grid-area: e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;

  background: var(--gray-4);
  color: var(--white);
  border: none;
  cursor: pointer;
}
